.contenedor{
    display: grid;
    grid-template-columns: 1200px ;
    grid-template-rows: 250px 500px 50px ;
    grid-template-areas: 
    'enc'
    'con'
    'pie'
    ;
}

.enc{
 background-color: yellow;
 grid-area: enc;
}
.con{
    background-color: aqua;
    grid-area: con;
    
}
.pie{
    background-color: black;
    color: antiquewhite;
    grid-area: pie;
    text-align: center;
}
.img1{
    width: 1200px;
    height: 250px ;
}
a{
    text-decoration: none;
    color: black;
}
.enlaces{
    text-align: center;
}